html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    height: 3500px;
    position: relative;
}

#header{
    background-color: rgb(241, 241, 241);
    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: 200ms all;
}

.baslik{
    position: relative;
    display: inline-block;
    font-family: "Beau Rivage", sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: orange;
}

#header ul, li{
    display: flex;
    margin: 25px;
    list-style: none;
}

.mb{
    border: 1px solid #ddd;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    color: rgb(129, 129, 129);
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    transition: 300ms all;
}

.mb:hover{
    cursor: pointer;
    color: black;
}

#page{
    position: absolute;
    box-sizing: border-box;
    z-index: 0;
    left: 10%;
    height: 100%;
    width: 80%;
    background-color: rgb(241, 241, 241);
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    transition: 200ms all;
    padding: 10px 120px;
}

.h2{
    font-family: "Quicksand" ,sans-serif;
    font-weight: 700;
    font-size: 35px;
    border-left: 6px solid orange;
    padding: 0px 5px;
}

#buton{
    position: absolute;
    left: -9999px;
}

.checkbox{
    position: relative;
    width: 45px;
    height: 26px;
    background-color: orange;
    border-radius: 15px;
}

.checkbox div{
    position: absolute;
    display: block;
    top: 3px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 1px 5px 0 rgb(44, 44, 44);
    transition: 200ms left;
}

label input:checked + .checkbox{
    background-color: rgb(0, 89, 255);
}

label input:checked + .checkbox div{
    left: 22px;
    top: 3px;
}

.textdiv{
    background-color: white;
    border-radius: 25px;
    padding: 30px 10px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
}

#uni{
    font-style: italic;
    font-size: 35px;
    border-bottom: 1px solid gray;
}

.iletisiminput{
    position: relative;
    z-index: 0;
}

#hakkimda{
    margin-top: 300px;
}

#hakdiv{
    display: block;
    box-sizing: border-box;
    font-size: 26px;
    padding: 10px 60px;
    text-align: center;
    line-height: 50px;
}

#okul{
    margin-top: 300px;
}

#iletisim{
    margin-top: 300px;
}

.ii{
    text-align: center;
    margin: 15px;
    width: 250px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(241, 241, 241);
    border: 2px solid #ddd;
    font-family: "Quicksand", sans-serif;
}

#name{
    border-radius: 0px 15px 0px 15px;
}

#surname{
    border-radius: 15px 0px 15px 0px;
}

#email{
    border-radius: 15px 0px 15px 0px;
}

#tel{
    border-radius: 0px 15px 0px 15px;
}

#gonder{
    width: 100px;
    height: 35px;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    color: rgb(117, 117, 117);
    border: 2px solid rgb(161, 161, 161);
    border-radius: 10px;
    margin: 20px 0px;
}

#gonder:hover{
    cursor: pointer;
    color: black;
}

#footer{
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: rgb(241, 241, 241);
    border-top: 1px solid #ddd;
    text-align: center;
    align-items: center;
}

#footerdiv{
    position: relative;
    font-size: 20px;
    font-family: "Quicksand",sans-serif;
    font-weight: 700;
    bottom: 10px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: rgb(167, 167, 167);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(88, 88, 88);
}

#img{
    position: relative;
    width: 80%;
    height: 17%;
    border-radius: 25px;
    margin: 10px 0px;
}

#anasayfa{
    margin-top: 120px;
}